@import '../abstract/mixins';
@import '../abstract/variaves';

.container-buttons {
    @include alinhamentoFlex();
    width: 100%;

    .button-cadastrar {
        @include buttonTam();
        background-color: $cor-terciaria;
        color:  $cor-fonte;

        &:hover {
            background-color: $cor-secundaria;
            transition: all 0.5s;
        }
       
    }
    .button-login {
        @include buttonTam();
        color: $cor-fonte;
        background-color: $cor-terciaria;

        &:hover {
            background-color: $cor-secundaria;
            transition: all 0.5s;
        }
    }

}

.buttonExcluir{
    @include buttonTam();
    color: white;
    background-color: $cor-red;
    &:hover {
        background-color: $cor-red-dark;
        transition: all 0.5s;
    }
}

.container-button {
    grid-area: button;

    .buttonChoiceReponse {
        width: 100%;
        background-color: $cor-green;
        color: $cor-fonte;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 20px 30px;

        &:hover {
            background-color: $cor-green-light;
            transition: all 1s;
        }
    }

}

.bt{
    display: none;
}