@import '../abstract/mixins';
@import '../abstract/variaves';


body {
    background-color: $cor-terciaria;
}

.modal-bg {
    box-sizing: border-box;
    background-color: white;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo-cadastro {
        text-align: center;

        img {
            width: 100px;
        }
    }

    .inputs-login-form {
        display: flex;
        flex-direction: column;

        input {
            border: none;
            outline: none;
            padding: 10px;
            margin: 3px 0px 8px;
            border-bottom: 3px solid $cor-borda;

            &:focus {
                border-bottom: 3px solid $cor-secundaria;

            }
        }


    }

    .container-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .button-cadastrar {
            margin: 0 auto;
            cursor: pointer;
            background-color: $cor-principal;
            border-radius: 10px;
            padding: 10px 15px;
            border: none;


            &:hover {
                background-color: $cor-quartenaria;
                transition: all 0.5s;
            }
        }
    }

}