@import '../abstract/mixins';
@import '../abstract/variaves';


body {
    background-color: white;
}

.modal-bg {
    box-sizing: border-box;
    box-shadow: 2px 3px 5px 3px rgba(219, 219, 219, 0.39);
    background-color: white;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    @include alinhamentoMeioPosition;

    .logo-cadastro {
        text-align: center;

        img {
            width: 100px;
        }
    }

    .inputs-login-form {
        display: flex;
        flex-direction: column;

        input {
            border: none;
            outline: none;
            padding: 10px;
            margin: 10px 0px;
            border-bottom: 3px solid $cor-borda;

            &:focus {
                border-bottom: 3px solid $cor-secundaria;

            }
        }


    }

    

}