@import '../abstract/mixins';
@import '../abstract/variaves';

.title {
    width: 80%;
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: $cor-fonte-secundaria;
        font-weight: 400;
    }
    background-color: $cor-principal;
    padding: 40px 30px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    
}

.container-dash {
    width: 60%;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin: 30px auto;
    border: 1px solid $cor-borda;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  150px 150px 1fr;
    grid-template-areas:
        'card card'
        'card card'
        'button button';

    .card-img {
        grid-area: card;

    }

    
    .card {
       p{
        font-weight: 600;
        margin: 5px;
       }
        width: 100%;
        border-radius: 10px;
        border: 1px solid $cor-borda ;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        

        &:hover {
            transition: all 0.5s;
            transform: scale(1.1);
        }

        &:active {
            background-color: $cor-terciaria;
            outline: none;
        }

        .icon {
            font-size: 50px;
            margin: 5px;
        }
    }

    
}