@import '../abstract/mixins';
@import '../abstract/variaves';


.container-header {
    @include alinhamentoFlex();
    background-color: $cor-principal;
    width: 100%;

    #logo-header {
        width: 33%;
        img {
            width: 100px;

        }
    }

    .nav-menu-header {
        width: 33%;

        ul {
            list-style: none;
            justify-content: space-between;
            @include alinhamentoFlexMenuHeader();

            list-style: none;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .saudacoes {
        width: 33%;
        text-align: center;
        padding: 0px 20px;
        word-wrap: break-word;

    }

    

}