@import '../abstract/mixins';

.header {
    background-color: $cor-principal;
    width: 100%;

    #logo-header {
        width:40%;
        img{
            width:100px;
        }
    }
    .sub-container-header {
        @include alinhamentoFlex();
        width: 100%;
    }
    .nav-menu-header {
        width: 30%;
        ul {
            list-style: none;
            justify-content: space-between;
            @include alinhamentoFlex();
        }
    }
    .saudacoes{
        width: 30%;
        text-align: right;
        padding: 0px 20px;
    }
}