@mixin alinhamentoFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin alinhamentoMeioPosition{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}