@mixin alinhamentoFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin alinhamentoMeioPosition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin buttonTam {
    margin: 15px auto;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
}

@mixin alinhamentoFlexMenuHeader {
    @media screen and (max-width: 500px) {
        display: block;
    } 


    @media screen and (min-width: 500px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        
   
}
