$fonte-principal: Arial, Helvetica, sans-serif;
$cor-principal:#FFCC70;
$cor-secundaria:#22668D;
$cor-terciaria:#8ECDDD;
$cor-quartenaria:#FFFADD;
$cor-borda:#f5f5f5a8;
$cor-red: red;
$cor-red-dark: #970000;
