$fonte-principal: Arial, Helvetica, sans-serif;
$cor-principal:#FFCC70;
$cor-secundaria:#22668D;
$cor-terciaria:#8ECDDD;
$cor-quartenaria:#FFFADD;
$cor-borda:#e0e0e0b6;
$cor-red: #ff0000;
$cor-red-dark: #970000;
$cor-green: #01ac01;
$cor-green-light: #00c500;
$cor-fonte: #ffffff;
$cor-fonte-secundaria: #000000;
