@charset "UTF-8";
.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFCC70;
  width: 100%;
}
.container-header #logo-header {
  width: 33%;
}
.container-header #logo-header img {
  width: 100px;
}
.container-header .nav-menu-header {
  width: 33%;
}
.container-header .nav-menu-header ul {
  list-style: none;
  justify-content: space-between;
  list-style: none;
}
@media screen and (max-width: 700px) {
  .container-header .nav-menu-header ul {
    display: block;
  }
}
@media screen and (min-width: 700px) {
  .container-header .nav-menu-header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.container-header .nav-menu-header ul a {
  text-decoration: none;
  color: black;
}
.container-header .saudacoes {
  width: 33%;
  text-align: center;
  padding: 0px 20px;
  word-wrap: break-word;
}

body {
  background-color: white;
}

.modal-bg {
  box-sizing: border-box;
  box-shadow: 2px 3px 5px 3px rgba(219, 219, 219, 0.39);
  background-color: white;
  width: 500px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-bg .logo-cadastro {
  text-align: center;
}
.modal-bg .logo-cadastro img {
  width: 100px;
}
.modal-bg .inputs-login-form {
  display: flex;
  flex-direction: column;
}
.modal-bg .inputs-login-form input {
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px 0px;
  border-bottom: 3px solid rgba(245, 245, 245, 0.6588235294);
}
.modal-bg .inputs-login-form input:focus {
  border-bottom: 3px solid #22668D;
}

.container-meu-perfil {
  width: 500px;
  border-radius: 10px;
  padding: 30px 45px;
  box-shadow: 1px 3px 5px 3px rgba(219, 219, 219, 0.3882352941);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-meu-perfil .Title h1 {
  font-size: 1.3rem;
  font-weight: 700;
}
.container-meu-perfil .Info-List ul .li-meu-perfil-info {
  list-style: none;
  border: 1px solid rgba(219, 219, 219, 0.3882352941);
  border-radius: 1px;
  padding: 10px;
  margin: 15px 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.container-meu-perfil .progresso-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}
.container-meu-perfil .progresso-container .progressoBar {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  border-radius: 5px;
}
.container-meu-perfil .progresso-container .progressoBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Remove estilos padrão do WebKit/Blink */
  appearance: none;
  width: 15px;
  /* Largura do cursor do controle deslizante */
  height: 15px;
  /* Altura do cursor do controle deslizante */
  background: #22668D;
  cursor: pointer;
  /* Altera o cursor ao pairar sobre o cursor do controle deslizante */
  border-radius: 50%;
}
.container-meu-perfil .progresso-container .progressoBar::-webkit-slider-runnable-track {
  width: 100%;
  background: #f1f1f1;
  border-radius: 5px;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.container-buttons .button-cadastrar {
  margin: 15px auto;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  background-color: #8ECDDD;
  color: white;
}
.container-buttons .button-cadastrar:hover {
  background-color: #22668D;
  transition: all 0.5s;
}
.container-buttons .button-login {
  margin: 15px auto;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: #8ECDDD;
}
.container-buttons .button-login:hover {
  background-color: #22668D;
  transition: all 0.5s;
}

.buttonExcluir {
  margin: 15px auto;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: red;
}
.buttonExcluir:hover {
  background-color: #970000;
  transition: all 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: 1px solid red;
}

.container-geral {
  width: 100%;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

@media (max-width: 700px) {
  .container-meu-perfil,
  .modal-bg {
    width: 400px;
  }
  .icon-menu {
    text-align: right;
  }
  .nav-menu-header {
    justify-content: right;
    display: flex;
  }
  .nav-menu-header ul {
    z-index: 1;
    position: absolute;
    top: 75px;
    right: 0;
    background-color: #ffffff;
    width: 80%;
    border: 1px solid rgba(221, 221, 221, 0.5960784314);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .nav-menu-header ul li {
    text-align: right;
    padding: 10px 15px;
    margin: 5px 0px;
    border-radius: 10px;
  }
  .nav-menu-header ul li:hover {
    background-color: #FFCC70;
  }
}
@media screen and (max-width: 700px) and (min-width: 700px) {
  .icon-menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */