@import './abstract/variaves';
@import './components/header';
@import './components/cadastro';
@import './components/dashboard';
@import './components/meuPerfil';
@import './components/buttons';



*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.container-geral{
    width: 100%;
    box-sizing: border-box;
}

#root{
    width: 100%;
}



