@import './abstract/variaves';
@import './components/header';
@import './components/cadastro';
@import './components/dashboard';
@import './components/meuPerfil';
@import './components/buttons';
@import './components/login';
@import './components/meuProgresso';




* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.container-geral {
    width: 100%;
    box-sizing: border-box;
}

#root {
    width: 100%;
}

@media (max-width: 700px) {

    .container-meu-perfil,
    .modal-bg {
        width: 400px;
    }

    .container-dash {
        width: 300px;
    }

    .nav-menu-header {
        ul {
            display: none;
        }

        justify-content: right;
        display: flex;
        width: 100%;

        .icon-menu {
            display: block;
            font-size: 30px;
            padding: 10px;
            color: $cor-fonte;
        }

        &.active {
            ul {
                display: block;
                z-index: 1;
                position: absolute;
                top: 75px;
                right: 0;
                background-color: #ffffff;

                li {
                    text-align: right;
                    padding: 10px 15px;
                    border-radius: 8px;

                    &:hover {
                        background-color: $cor-principal;
                        transition: all 1s;

                    }
                    a {
                        color: $cor-fonte-secundaria;
                    }
                }

                //display: none;
                width: 60%;
                border:1px solid #dddddd98;

                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }


}

@media screen and (min-width: 700px) {
    .icon-menu {
        display: none;
    }
}